.beast-roll.expanded .tooltip-part {
  &.odd {
    background-color: var(--color-background-alt);
  }
  &:not(:first-child) {
    padding: 16px 0;
    border-bottom: 2px solid var(--color-message);
  }
}

.dice-total.success {
  --base-color: deepskyblue;
  color: var(--base-color);
  background: linear-gradient(
    oklch(from var(--base-color) 30% c h),
    oklch(from var(--base-color) 10% c h)
  );
}

.dice-total.exceptional-success {
  --base-color: chartreuse;
  color: var(--base-color);
  background: linear-gradient(
    oklch(from var(--base-color) 30% c h),
    oklch(from var(--base-color) 10% c h)
  );
}

.dice-total.failure {
  --base-color: darksalmon;
  color: var(--base-color);
  background: linear-gradient(
    oklch(from var(--base-color) 30% c h),
    oklch(from var(--base-color) 10% c h)
  );
}

@keyframes dripping {
  to {
    background-position:
      0 7px,
      30px 80px,
      70px 33px,
      12px 10px,
      48px 30px,
      0 0;
  }
}

.dice-roll:has(.fate-roll.success) .dice-total {
  --base-color: chartreuse;
  color: var(--base-color);
  background-color: oklch(from var(--base-color) 20% c h);
  background-image:
    radial-gradient(
      ellipse 2px 18px at 12% -10%,
      oklch(from var(--base-color) 80% c h) 0 65%,
      transparent 72%
    ),
    radial-gradient(
      ellipse 2px 24px at 46% -15%,
      oklch(from var(--base-color) 70% c h) 0 65%,
      transparent 72%
    ),
    radial-gradient(
      ellipse 2px 15px at 82% -8%,
      oklch(from var(--base-color) 60% c h) 0 65%,
      transparent 72%
    ),
    radial-gradient(
      ellipse 2px 21px at 27% -12%,
      oklch(from var(--base-color) 50% c h) 0 65%,
      transparent 72%
    ),
    radial-gradient(
      ellipse 2px 13px at 68% -8%,
      oklch(from var(--base-color) 40% c h) 0 65%,
      transparent 72%
    ),
    linear-gradient(
      oklch(from var(--base-color) 30% c h),
      oklch(from var(--base-color) 10% c h)
    );
  background-size:
    70px 80px,
    95px 95px,
    80px 75px,
    105px 105px,
    60px 65px,
    100% 100%;
  background-position:
    0 -73px,
    30px -15px,
    70px -42px,
    12px -95px,
    48px -35px,
    0 0;
  animation: dripping 2s linear infinite reverse;
}
.dice-roll:has(.fate-roll.dramatic-failure) .dice-total {
  --base-color: red;
  color: var(--base-color);
  background-color: oklch(from var(--base-color) 20% c h);
  background-image:
    radial-gradient(
      ellipse 2px 18px at 12% -10%,
      oklch(from var(--base-color) 80% c h) 0 65%,
      transparent 72%
    ),
    radial-gradient(
      ellipse 2px 24px at 46% -15%,
      oklch(from var(--base-color) 70% c h) 0 65%,
      transparent 72%
    ),
    radial-gradient(
      ellipse 2px 15px at 82% -8%,
      oklch(from var(--base-color) 60% c h) 0 65%,
      transparent 72%
    ),
    radial-gradient(
      ellipse 2px 21px at 27% -12%,
      oklch(from var(--base-color) 50% c h) 0 65%,
      transparent 72%
    ),
    radial-gradient(
      ellipse 2px 13px at 68% -8%,
      oklch(from var(--base-color) 40% c h) 0 65%,
      transparent 72%
    ),
    linear-gradient(
      oklch(from var(--base-color) 30% c h),
      oklch(from var(--base-color) 10% c h)
    );
  background-size:
    70px 80px,
    95px 95px,
    80px 75px,
    105px 105px,
    60px 65px,
    100% 100%;
  background-position:
    0 -73px,
    30px -15px,
    70px -42px,
    12px -95px,
    48px -35px,
    0 0;
  animation: dripping 2s linear infinite;
}
